<div class="row well">
    <div class="col-sm-6">
        <h4>
            Upload file from server to S3
        </h4>
        <form onsubmit="return false">
            <div class="form-group">
                <input class="form-control" id="localFile" name="localFile" type="text" placeholder="The filename of the file on the local server" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="upload-server-s3">
                    <i class="glyphicon glyphicon-info-sign" title="Upload local server file to the S3 bucket"></i>
                    Upload
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <h4>
            Download file from S3 to server
        </h4>
        <form onsubmit="return false">
            <div class="form-group">
                <input class="form-control" id="s3File" name="s3File" type="text" placeholder="The filename of the file on S3" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="download-server-s3">
                    <i class="glyphicon glyphicon-info-sign" title="Download a file from S3 bucket to the server local file-system"></i>
                    Download
                </button>
            </div>
        </form>

    </div>
</div>

<div class="row well">
    <div class="col-sm-6">
        <h4>
            Upload file from client to S3 with presigned url
        </h4>
        <form onsubmit="return false">
            <div class="form-group">
                <input class="form-control" id="file" name="file" type="file" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="upload-client-s3">
                    <i class="glyphicon glyphicon-info-sign" title="Get a presigned url which will be used in the javascript client to upload a file to S3"></i>
                    Upload
                </button>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <h4>
            Download file from S3 to client with presigned url
        </h4>
        <form onsubmit="return false">
            <div class="form-group col-sm-6">
                <input class="form-control" id="s3-file" name="s3-file" type="text" placeholder="The filename of the file on S3" />
            </div>

            <div class="form-group col-sm-6" id="links">

            </div>

            <div class="form-group col-sm-12">
                <button class="btn btn-primary" id="download-client-s3">
                    <i class="glyphicon glyphicon-info-sign" title="Get a presigned url which will be used in the javascript client to download a file from S3"></i>
                    Get download link
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <!-- Upload from server to S3 -->
    <script>
        $("#upload-server-s3").click(function () {
            var filename = $("#localFile").val();
            $.ajax({
                url: encodeURI("/api/s3/upload/server?filename=" + filename),
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    alert(data);
                },
                error: function (jqXHR, status, error) {
                    console.log(jqXHR, status, error);
                    alert(jqXHR.responseJSON.Message);
                }
            });
        });
    </script>

    <!-- Download from S3 to server -->
    <script>
        $("#download-server-s3").click(function () {
            var filename = $("#s3File").val();
            $.ajax({
                url: encodeURI("/api/s3/download/server?filename=" + filename),
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    alert(data);
                },
                error: function (jqXHR, status, error) {
                    console.log(jqXHR, status, error);
                    alert(jqXHR.responseJSON.Message);
                }
            });
        });
    </script>

    <!-- Upload from client to S3 -->
    <script>
        $("#upload-client-s3").click(function (e) {
            var file = $("#file")[0].files[0];
            if (!file) {
                alert("Select a file first");
                return;
            }

            // Get the presigned url
            $.ajax({
                url: "/api/s3/upload/presignedurl?filename=" + file.name,
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                success: function (presignedUrl) {

                    // Use the retrieved presigned url to upload the file
                    $.ajax({
                        url: presignedUrl,
                        type: "PUT",
                        processData: false,
                        data: file,
                        success: function (data) {
                            alert("Upload successfull");
                        },
                        error: function (jqXHR, status, error) {
                            console.log(jqXHR, status, error);
                            alert(jqXHR.responseJSON.Message);
                        }
                    });
                },
                error: function (jqXHR, status, error) {
                    console.log(jqXHR, status, error);
                    alert(jqXHR.responseJSON.Message);
                }
            });
        });
    </script>

    <!-- Download from S3 to client -->
    <script>
        $("#download-client-s3").click(function (e) {
            var filename = $("#s3-file").val();

            // Get the presigned url
            $.ajax({
                url: "/api/s3/download/presignedurl?filename=" + filename,
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                success: function (presignedUrl) {

                    // Upon successfully retrieving the presigned url you can dynamically generate html <a> element
                    // with the href attribute set to the presigned url and append the element in the dom
                    var links = $("#links").html("");
                    var a = $("<a target='_blank' download></a>").text(filename).attr("href", presignedUrl).appendTo(links);

                    // Or you can automaticaly download the file by uncommenting the next line
                    //location.href = data;
                },
                error: function (jqXHR, status, error) {
                    console.log(jqXHR, status, error);
                    alert(jqXHR.responseJSON.Message);
                }
            });
        });
    </script>

    <script>
        $("[title]").tooltip();
    </script>
}
